body {
	font: 14px 'Verdana';
	margin: 0;
	padding: 0;
	background-image: url(../img/bg.jpg);
	background-repeat: repeat-x;
	background-color: #0c739f;
}
header {
	width: 1000px;
	margin: 0 auto;	
}
.logo {
	float: left;
} 
.contact{
	float:right;
	color:#128aa7;
	font-size:12px;
	padding:5px 25px;
	margin-left:440px;
	margin-bottom:28px;
}
.contact h3{
	font-weight:bold;
}
.contact:after{
	content:'';
	clear:both;
} 
.flag{
	float:right;
	min-width:66px;
	display:inline;
}
.flag:first-child{
	margin-right:20px;
}
/* #contries .flag p{
	display:block-inline;
} */
#contries .flag p .pic{
	margin:0 auto;
}
#contries .flag p.capture {
	font-size:10px;
	text-align:center;
}
#contries .flag p.capture a{
	color:#128aa7;
}	
.front-banner img{
	border-top:1px solid #138aa7;
	border-bottom:1px solid #138aa7;
}
main{
	width:1000px;
	height: auto;
	margin:0 auto;
	padding:0;
	background-color:white;
	box-shadow: 0 0 8px rgba(0,0,0,0.6);
	vertical-align:top;
}
.fig{
	text-align:center;
}
.menu{
	float:left;
	margin:0 auto;
	width:1000px;
	background-image: url(../img/bg1.jpg);
	background-repeat: repeat-x;
	background-color: #333;
	border-bottom:solid 1px #000;
	box-shadow: 2px 3px 4px rgba(0,0,0,0.6);
}
ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
ul:after {
	display: block;
	content: ' ';
	clear: both;
	float: none;
}
ul.menu > li {
	float: left;
	position: relative;
	margin: 0 25px;
}
.triangle-down {
	width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 6px solid #fff;
	position: absolute;
	top:13px;
	right:-3px;
}
ul.menu > li > a {
	display: block;
	padding: 5px;
	color: white;
	text-decoration: none;
}
.first a {
	margin-left:40px;
}
ul.submenu {
	display: none;
	position: absolute;
	width: 125px;
	top: 28px;
	left: 0;
	background-color: white;
	box-shadow: 0 6px 4px -1px rgba(0,0,0,0.6);
	border-top:solid 1px #000;
	line-height:0.4;
}
ul.submenu > li {
	display: block;
}
ul.submenu > li > a {
	display: block;
	padding: 10px;
	color: white;
	background-color: #333;
	text-decoration: none;
}
ul.submenu > li > a:hover {
	text-decoration:underline;
}
ul.menu > li:hover > ul.submenu {
	display: block;
}
.content{
	display:table;
	font-size:0;
}
.block1{
display:table-cell;
vertical-align:top;
background-color:#edeef0;
width:20%;
color:#424c43;
padding:10px;
font-size:13px;
line-height:1.5;
}
.block2{
	display:table-cell;
	vertical-align:top;
	background-color:#fff;
	width:54%;
	padding:10px;
	font-size:14px;
	line-height:1.5;
}
h2{
	font-size:1.2em;
	font-weight:bold;
	text-align:center;
	color:#424c43;
}
#done p{
	color:#fff;
	text-align:center;
	margin:10px;
	font-size:12px;
}